<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<div class="container-fluid">
    <header>
        <th:block th:include="~{fragments/navbar}"></th:block>
    </header>
    <main>
        <div class="jumbotron mt-4">
            <div class="container-fluid ">
                <!--<div class="tabs">-->
                <div>
                    <ul>
                        <li><a th:href="@{#private-sell-word}" data-th-text="#{private_sell.lang.worth}">
                        </a></li>
                        <li><a th:href="@{#private-sell-privately}" data-th-text="#{private_sell.lang.privately}">
                        </a></li>
                        <li><a th:href="@{#private-sell-property}" data-th-text="#{private_sell.lang.property}">

                        </a></li>
                        <li><a th:href="@{#private-sell-find-buyer}" data-th-text="#{private_sell.lang.find.buyer}">

                        </a></li>
                        <li><a th:href="@{#private-sell-time}" data-th-text="#{private_sell.sell.time}">

                        </a></li>
                    </ul>
                </div>
                <div>
                    <div class="" id="private-sell-word">
                        <h5 data-th-text="#{private_sell.lang.worth}">
                        </h5>
                        <p data-th-text="#{private_sell.lang.worth.text}">
                        </p>
                    </div>
                    <div class="" id="private-sell-privately">
                        <h5 data-th-text="#{private_sell.lang.privately}"></h5>
                        <p data-th-text="#{private_sell.lang.privately.text}">

                        </p>
                    </div>
                    <div class="" id="private-sell-property">
                        <h5 data-th-text="#{private_sell.lang.privately}">
                        </h5>
                        <p data-th-text="#{private_sell.lang.property.text}">
                        </p>
                    </div>
                    <div class="" id="private-sell-find-buyer">
                        <h5 data-th-text="#{private_sell.lang.find.buyer}">
                        </h5>
                        <p data-th-text="#{private_sell.lang.find.buyer.text}">

                        </p>
                    </div>
                    <div class="" id="private-sell-time">
                        <h5 data-th-text="#{private_sell.sell.time}">

                        </h5>
                        <p data-th-text="#{private_sell.sell.time.text}">

                        </p>
                    </div>
                </div>
                <!--</div>-->
            </div>
        </div>
    </main>
</div>
</body>
</html>
